.alert {
  padding: 1.5rem;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
  border: 0.1rem solid transparent;
  border-radius: 0.6rem;
  position: absolute;
  top: 1rem;
  right: 2rem;
  z-index: 1;

  button {
    text-decoration: none;
    background-color: transparent;
    border: none;
    cursor: pointer;
  }

  span {
    font-size: 1.2rem;
  }

  > div {
    margin-top: 0.2rem;
  }
}

.alert-header {
  font-weight: bold;
}

.alert-success {
  color: var(--white);
  background-color: var(--second-color);
}

.alert-danger {
  color: var(--white);
  background-color: #f53c3d;
}

.alert-dismissable,
.alert-dismissible {
  padding-right: 3.5rem;
}

.alert-dismissable .close,
.alert-dismissible .close {
  position: relative;
  top: -0.2rem;
  right: -2.1rem;
  color: inherit;
}

.close {
  float: right;
  color: var(--white);
}
