.budget-app-content {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 4rem;
}

.budget-app-container {
  position: relative;
  width: 70%;
  height: 20rem;
  box-shadow: 0.2rem 0.4rem 1.6rem rgba(0, 0, 0, 0.2);
  border-radius: 1.2rem;
}

.budget-header {
  position: absolute;
  font-size: 3.2rem;
  top: 2rem;
  left: 3rem;
}

.description {
  position: absolute;
  font-size: 2rem;
  top: 7rem;
  left: 3rem;
}

.budget-btn {
  position: absolute;
  background-color: var(--first-color);
  top: 12rem;
  left: 3rem;
  color: #fff;
  width: 12rem;
  height: 3.8rem;
  border-radius: 0.6rem;
  font-size: 1.6rem;
  cursor: pointer;
  border: none;
  margin: 0.3rem;
}

.balance-text {
  position: absolute;
  font-size: 2rem;
  right: 2rem;
  bottom: 8rem;
}

.balance-text,
.amount-text {
  position: absolute;
  font-size: 2rem;
  right: 2rem;
  bottom: 8rem;
}

.amount-text {
  bottom: 4rem;
}
