.btn {
  width: 282px;
  height: 60px;
  left: 272px;
  top: 603.79px;
  font-size: 16px;
  line-height: 19px;
  color: #ffffff;
  border: none;
  cursor: pointer;
  border-radius: 22px;
}

.btn-primary {
  background: #159947;
}

.btn-primary:hover {
  background: #49b265;
}
