.btn-create-user {
  width: 15rem;
  height: 5rem;
  font-size: 1.6rem;
  color: var(--white);
  border: none;
  cursor: pointer;
  border-radius: 1rem;
}

.btn-primary {
  color: var(--white);
  background: var(--first-color);

  &:hover {
    background: var(--second-color);
  }
}

.btn-cancel {
  color: var(--black);
  background: var(--white-dark);

  &:hover {
    background: #f1f1f1;
  }
}

.btn-small {
  width: 8.2rem;
  height: 3.8rem;
  border-radius: 0.6rem;
  font-size: 1.4rem;
  cursor: pointer;
  border: none;
  margin: 0.3rem;
}
