.input-container {
  width: 27.978rem;
  height: 9.887rem;
  background: var(--white);
  box-shadow: 0rem 1.5rem 3rem rgba(118, 118, 118, 0.2);
  border-radius: 1.4rem;

  > div {
    padding-top: 1.2rem;
    margin-left: 2rem;
    width: 23.612rem;
    height: 7.443rem;
    font-size: 1.4rem;
    color: var(--grey);
  }
}

.input-flex-container {
  display: flex;
  align-items: center;

  span {
    padding-top: 1.2rem;
    margin-right: 1rem;
    font-size: 2.3rem;
    color: var(--grey);
  }

  input {
    width: 100%;
    padding-top: 1.2rem;
    font-size: 2.3rem;
    color: var(--black-light);
    border: none;
    outline: none;
  }
}

.search {
  position: absolute;
  right: 0;
  width: 29rem;
  height: 4.6rem;
  border: 0.1rem solid #f3f5f9;
  border-radius: 0.6rem;
  margin-right: 3.5rem;
  font-size: 1.4rem;
  padding: 1.2rem;

  &:focus {
    outline: 0.155068rem solid #819cfd;
  }

  &::placeholder {
    color: #8e95a6;
  }
}

.user-input-text {
  margin-top: 2rem;
  width: 29rem;
  height: 4.6rem;
  border: 0.1rem solid #f3f5f9;
  border-radius: 0.6rem;
  font-size: 1.4rem;
  padding: 1.3rem;

  &:focus {
    outline: 0.155068rem solid #819cfd;
  }

  &::placeholder {
    color: #8e95a6;
  }

  &:invalid {
    color: #8e95a6;
  }
}
