.modal {
  width: 100vw;
  height: 100vh;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 1;
}

.modal-content {
  width: 66rem;
  background: var(--white);
  border: 0.1rem solid #f4f4f4;
  box-shadow: 0rem 3.2rem 3.2rem -3.2rem rgba(142, 142, 142, 0.18);
  border-radius: 1.4rem;
}

.modal-header {
  margin: 3rem;
  margin-top: 4rem;
  margin-bottom: -1rem;

  span {
    font-size: 1.8rem;
    color: var(--black-light);
  }
}

.modal-body {
  padding: 3rem;
}

.modal-footer {
  margin-top: 3rem;
  text-align: right;
}

.create-user-flex {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.landing-modal-bg {
  background-color: var(--fourth-color);
}
