.table {
  width: 120rem;
  height: 47rem;
  background: var(--white);
  border: 0.1rem solid #e4e4e4;
  border-radius: 1.2rem;
  overflow-y: scroll;

  button {
    text-align: center;
    margin: 0.5rem;
    border: 0.1rem solid #e4e4e4;
    width: 3rem;
    height: 3rem;
    border-radius: 1rem;
    background-color: var(--white);
    cursor: pointer;

    &:hover {
      background-color: #f9fafe;
    }
  }
}

.table-whole {
  width: 80%;
}

.table-header {
  position: relative;
  padding: 2rem;
  margin-top: 4rem;
  padding-left: 3.5rem;
  width: 100%;
  height: 2.2rem;

  div {
    display: flex;
    align-items: center;
  }

  h2 {
    font-size: 2.625rem;
    width: 13rem;
    height: 2.2rem;
  }
}

.table-container {
  margin: 3.6rem;
}

table {
  width: 100%;
  border-spacing: 0rem;
}
tr {
  &:hover {
    background: #f9fafe;
  }
}

th {
  height: 3.4rem;
  font-size: 1.6rem;
  color: var(--white);
  background-color: var(--fourth-color);
  font-weight: 400;
  text-align: center;
}

.users-table-header {
  th {
    &:nth-child(1) {
      width: 25%;
    }

    &:nth-child(2) {
      width: 25%;
    }

    &:nth-child(4) {
      width: 30%;
    }
  }
}

td {
  height: 1.7rem;
  font-size: 1.4rem;
  padding: 1.2rem;
  text-align: center;
}

.budget-table {
  button {
    text-align: center;
    margin: 0.5rem;
    border: 0.1rem solid #f2f2f2;
    width: 3rem;
    height: 3rem;
    border-radius: 1rem;
    background-color: var(--white);
    cursor: pointer;

    &:hover {
      background-color: #f9fafe;
    }
  }
}

.budget-table-header {
  th {
    &:nth-child(1) {
      width: 50%;
    }

    &:nth-child(2) {
      width: 20%;
    }
  }
}

.budget-margin {
  padding: 4rem;
  padding-top: 2rem;
  padding-bottom: 3rem;
}

.transactions-table-header {
  th {
    &:nth-child(1) {
      width: 25%;
    }

    &:nth-child(2) {
      width: 15%;
    }

    &:nth-child(3) {
      width: 35%;
    }

    &:nth-child(4) {
      width: 15%;
    }
  }
}
