.table {
  width: 120rem;
  height: 47rem;
  background: var(--white);
  border: 0.1rem solid #e4e4e4;
  border-radius: 1.4rem;
  overflow-y: scroll;

  button {
    text-align: center;
    margin: 0.5rem;
    border: 0.1rem solid #f2f2f2;
    width: 3rem;
    height: 3rem;
    border-radius: 1rem;
    background-color: var(--white);
    cursor: pointer;

    &:hover {
      background-color: #f9fafe;
    }
  }
}

.table-whole {
  width: 80%;
}

.table-header {
  position: relative;
  padding: 2rem;
  margin-top: 4rem;
  padding-left: 3.5rem;
  width: 100%;
  height: 2.2rem;

  div {
    display: flex;
    align-items: center;
  }

  span {
    width: 13rem;
    height: 2.2rem;
    font-size: 1.8rem;
    color: #4a4e5a;
  }
}

.table-container {
  margin: 3.6rem;
}

table {
  width: 100%;
  border-spacing: 0rem;
}

tr {
  &:hover {
    background: #f9fafe;
  }
}

th {
  height: 3.4rem;
  font-size: 1.6rem;
  color: var(--black);
  background-color: #f9fafe;
  font-weight: 400;
  text-align: center;
}

.users-table-header {
  th {
    &:nth-child(1) {
      width: 25%;
    }

    &:nth-child(2) {
      width: 25%;
    }

    &:nth-child(4) {
      width: 30%;
    }
  }
}

td {
  height: 1.7rem;
  font-size: 1.4rem;
  color: #798ba3;
  padding: 1.2rem;
  text-align: center;
}

.budget-table-header {
  th {
    &:nth-child(1) {
      width: 60%;
    }

    &:nth-child(2) {
      width: 40%;
    }
  }
}

.budget-margin {
  padding: 4rem;
  padding-top: 2rem;
}
