.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.center {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.user-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 2rem 3rem;
  row-gap: 3rem;
}

.add-user-btn {
  align-self: flex-start;
  margin-left: 1rem;
}
