.balance-card {
  margin-top: 4rem;
  margin-left: 3rem;
  margin-right: -1.6rem;
  width: 35%;
  height: 20rem;
  background: var(--fourth-color);
  border-radius: 1.2rem;
  position: relative;
}

.wallet-icon-container {
  position: absolute;
  top: 28%;
  left: 12%;
  width: 8rem;
  height: 8rem;
  background: var(--white);
  border-radius: 0.8rem;
}

.wallet-icon {
  position: relative;

  > div {
    position: absolute;
    margin-top: 2rem;
    left: 25%;
  }
}

.balance-text {
  top: 24%;
  left: 36%;
  width: 12rem;
  height: 2.4rem;
  font-size: 2.4rem;
  color: #cdd7fb;
}

.balance-amount {
  margin-top: 1.6rem;
  font-size: 3.2rem;
  color: var(--white);
}
