.balance-card {
  margin-top: 4rem;
  margin-left: 3rem;
  margin-right: -1.6rem;
  width: 35%;
  height: 20rem;
  background: var(--fourth-color);
  border-radius: 1.2rem;
  position: relative;
}

.wallet-icon-container {
  position: absolute;
  top: 28%;
  left: 12%;
  width: 8rem;
  height: 8rem;
  background: var(--white);
  border-radius: 0.8rem;
}

.wallet-icon {
  position: relative;

  > div {
    position: absolute;
    margin-top: 2rem;
    left: 25%;
  }
}

.balance-text {
  position: absolute;
  top: 24%;
  left: 36%;
  width: 12rem;
  height: 2.4rem;
  font-size: 2.4rem;
  color: var(--white);
}

.balance-amount {
  margin-top: 1.6rem;
  font-size: 3.2rem;
  color: var(--white);
}

.action-card {
  margin-top: 4rem;
  margin-left: 3rem;
  margin-right: -1.6rem;
  width: 15%;
  height: 20rem;
  background: var(--fourth-color);
  border-radius: 1.2rem;
  position: relative;
  cursor: pointer;
}

.action-icon-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 8rem;
  height: 8rem;
  background: var(--white);
  border-radius: 0.8rem;
}

.action-icon {
  position: relative;

  > div {
    position: absolute;
    margin-top: 2rem;
    left: 25%;
  }
}

.budget-container {
  width: 82.6%;
  height: 43.2rem;
  background: var(--white);
  border: 0.1rem solid #e4e4e4;
  margin-left: 3rem;
  margin-right: -1.6rem;
  border-radius: 1.4rem;
  overflow-y: scroll;
  margin-bottom: 3rem;
}

.add-expense-container {
  margin: 4rem;
}

.budget-header {
  font-size: 4.2rem;
  margin: 4rem;
  margin-bottom: 1rem;
}
