.settings-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 4rem;
  margin-right: -6.5%;
}

.settings {
  width: 66rem;
  background: var(--white);
  border-radius: 1.2rem;
  border: 0.1rem solid #e4e4e4;
}
