.user-modal-text {
  font-size: 1.4rem;
  color: var(--black-light);
}

.user-modal-text-margin {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.user-modal-text-info {
  color: #798ba3;
}

.user-modal-label {
  font-size: 1.4rem;
  color: #798ba3;
  margin-top: 2rem;
  margin-bottom: -1.6rem;
}
